src/META-INF/wsdl/192.168.11.154_8080/MotorActualizaFecha/MotorActualizaFecha.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://actualifecha.guatex.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://actualifecha.guatex.com/">

<xs:element name="consultadatos" type="tns:consultadatos"/>

<xs:element name="consultadatosResponse" type="tns:consultadatosResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="verificarConexion" type="tns:verificarConexion"/>

<xs:element name="verificarConexionResponse" type="tns:verificarConexionResponse"/>

<xs:complexType name="consultadatos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultadatosResponse">
<xs:sequence>
<xs:element name="return" type="tns:fechs" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fechs">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarConexion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verificarConexionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>